#totalContainer{
    margin:0 0 0 0;
    width: 100%;
}
#tileHeader{
    background-image: url('header.jpg');
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100;
    width: 100%;
}
#tileHeaderResearch{
    background-image: url('research.jpg');
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100;
    width: 100%;
}

#welcomeText{
    font-size: 50px;
    font-family: 'Lobster', serif;
    padding: 0vh 0vw 0vh 0vw;
    border: 0 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: bisque;
    
}
.navbarText{
    color: bisque;
    font-size: 20px;
    

}
.navbarText:hover{
    color: burlywood;
}
#navbarDiv{
    border: 0 0 0 0;
    padding: 0 0 0 0;
}
#mahyaDiv{
    display:inline-block ;
    background-image: url('mahya.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100;
    width: 40vw;
    

}
 #mahyaImage{
    margin: 3vw 3vh 3vw 3vh;
    height: 400px;
    width: 400px;
} 
#textdiv{
    display: inline;
}
.bodyText{
    color: midnightblue;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    padding-top: 5vh;
}
.bodyDiv{
    text-align: justify;
    color: midnightblue;
    font-size: 27px;
    font-family: 'Merriweather', serif;
    padding: 4vw 4vh 4vw 0vh ;
    /* width: 70vw;  */
    align-content: center;
    line-height: 40px;

}
.topCardDiv{
    text-align: justify;
    color: midnightblue;
    font-size: 27px;
    font-family: 'Merriweather', serif;
    width: 40vw; 
    /* align-content: center; */
    line-height: 50px;
    padding: 3vw 2vh 3vw 3vh ;
    margin: 0 0 0 0;


}
#cardText{
    padding: 7vw 0vh 4vw 0vh ;
    /* display: inline-block; */
     width: 50vw;  

   
}
#spectrumImage{
    margin: 4vw 2vh 4vw 2vh;
    height: 290px;
    width: 400px;

} 
.clickingHover:hover{
    color: blue;
    font-size: 20px;
}