#totalContainer{
    margin:0 0 0 0;
    width: 100%;
}
#tileHeader{
    background-image: url('header.jpg');
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100;
    width: 100%;
}
#tileHeaderResearch{
    background-image: url('research.jpg');
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100;
    width: 100%;
}

#welcomeText{
    font-size: 50px;
    font-family: 'Lobster', serif;
    padding: 0vh 0vw 0vh 0vw;
    border: 0 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: bisque;
    
}
.navbarText{
    color: bisque;
    font-size: 20px;
    

}
.navbarText:hover{
    color: burlywood;
}
#navbarDiv{
    border: 0 0 0 0;
    padding: 0 0 0 0;
}
#mahyaDiv{
    display: inline;
    background-image: url('mahya.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100;
    width: 40vw;
    

}
 #mahyaImage{
    margin: 3vw 3vh 3vw 3vh;
    height: 400px;
    width: 400px;
} 
#textdiv{
    display: inline;
}
.bodyText{
    color: midnightblue;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    padding-top: 5vh;
}
.bodyDiv{
    text-align: justify;
    color: midnightblue;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    padding-top: 2vh;
    width: 50vw; 
    align-content: center;

}
#cardText{
}